<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <title>Booklist</title>
</head>
<body>
<h1>Book's</h1>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Isbn</th>
        <th>Year</th>
        <th>Price</th>
        <th>Category</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr th:each = "Book : ${books}">
        <td th:text="${Book.title}"></td>
        <td th:text="${Book.author}"></td>
        <td th:text="${Book.isbn}"></td>
        <td th:text="${Book.year}"></td>
        <td th:text="${Book.price}"></td>
        <!--
        <td th:text="${Book.category.name}"></td>
        -->
        <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${Book.id})}">Delete</a></td>
        <td><a class="btn btn-danger" th:href="@{/edit/{id}(id=${Book.id})}">Edit</a></td>



    </tr>

    </tbody>

</table>
<a class="btn btn-success" href="/addbook">Add book</a>

</body>
</html>